/* metarank_style.css */

/* todas las reglas sólo dentro del módulo */
#mega1-metaenrichgo_sidebar {
  /* estilos de fondo, tipografía, etc */
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* sidebar sólo dentro del módulo */
#mega1-metaenrichgo_sidebar .sidebar {
  padding: 0px;
}
#mega1-metaenrichgo_sidebar .sidebar .shiny-input-container {
  margin-bottom: 0px;
}

/* títulos sólo en este módulo */
#mega1-metaenrichgo_sidebar h4,
#mega1-metaenrichgo_sidebar h3 {
  margin: 0px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* custom-btn de este módulo */
#mega1-metaenrichgo_sidebar .custom-btn {
  background-color: transparent !important;
  border: none !important;                   /* Elimina el borde */
  padding: 0 !important;                     /* Ajusta el espaciado */
  color: #007bff;                            /* Color del icono */
  font-size: 24px;
}

/* iconos de ayuda namespaced */
#mega1-showExample {
  background-color: transparent !important;
  border: none !important;
  color: #007bff;
  font-size: 24px;
  position: relative;
  left: -35px; 
}
/* hover… */
#mega1-showExample:hover{
  color: #0056b3;
  cursor: pointer;
}

